<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/buttons.css">
    <link rel="stylesheet" href="/public/css/skel.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/fontawesome.css">
    <title>Sign Up | Create your own account with the leading company in the world</title>
</head>
<body>
    <img src="./" alt="">
    <div class="heading"><h2>Add a profile picture</h2></div>
    <form id="form" action="/profilepic" method="post" enctype="multipart/form-data">
        <div class="input">
            <input type="file" name="profilepict" accept="">
        </div>
        <input type="submit" class="submit" value="upload profile picture">
    </form>
</body>
</html>