*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
}

body{
    background-color: rgba(0, 0, 0, 0.15);
    height: max-content;
}

.dark{
    background-color: rgba(25, 27, 28, 0.99);
    color: #bfbfbf;
}

.light{
    background-color: rgba(0, 0, 0, 0.15);
}

.heading{
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    margin: 60px 0;
}

h2{
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 2px;
    color: #222;
}

a{
    text-decoration: none;
}

form{
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.99);
}

#password-warning,
#username-warning{
    font-size: 14px;
    color: red;
}

.input,
form button,
.login{
    width: 100%;
}

input,
form button,
.login{
    width: 100%;
}

input{
    height: 30px;
    margin-bottom: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    outline: none;
}
input[type="password"],
input[type="text"],
input[type="email"]{
    padding: 0px 0 5px 20px;
}
form .submit{
    height: 40px;
    border: none;
    background-color: #1a49e4af;
    color: #222;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 15px;
    cursor: pointer;
}

.login{
    text-align: center;
}

.login a{
    text-decoration: none;
    color: #1a49e4af;
}

@media ( max-width: 500px){
    form{
        width: 85%;
    }
    .heading{
        padding: 0 30px;
        margin: 40px 0;
    }
}

@media ( max-width: 400px){
    form{
        width: 90%;
    }
    .heading{
        margin: 40px 0;
    }
}